.home{
    background-image: url(/assets/h_img.jpg);
    align-content: center;
}
.phead{
    text-align: center;
    font-size: 36px;
}
.dhead{
      text-align: center;
    font-size: 36px;
}
.doimg{
    height: 6em;
     display: flex;
  align-items: center;
  justify-content: center ;

}
.dorow{
      text-align: center;
}
.services{
    background-image:
url(/assets/s_image.jpg);
background-size: cover;
    text-align: center;
    color: white;
}
.about{
    text-align: center;
    background-color: #ecefe1;
}
