.phead{
    text-align: center;
    font-size: 36px;
}
.dhead{
      text-align: center;
    font-size: 36px;
}
.doimg{
    height: 6em;
     display: flex;
  align-items: center;
  justify-content: center ;

}
.dorow{
      text-align: center;
}
